@import './variable.scss';

html {
    --primary-color: #fff;
    --secondary-color: #282c34;
}

html[data-theme='dark'] {
    --primary-color: #282c34;
    --secondary-color: #fff;
}


body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    // background-color: $white;
}
