@import '../../Styles/variable.scss';

.app-nav {
    width: $nav_width;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #a3a3a326;
    border-radius: 0.9em;
}
